*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	-webkit-user-select: none;
}
html,body {
	background: #243129;
	margin:0;
	font-family: 'Sans';
	overflow:hidden;
}
.fullscreen{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.fullscreen > canvas {
    display: block;
	background: #222222;
	width:100%;
	height:100%;
    cursor: none;
}
